{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Gestionnaire</h1>
                    <p class="mb-4"> <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste Utilisateur</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                   <a href="{{path('super_admin_utilisateur_new')}}" class="btn btn-success btn-sm">Ajouter Utilisateur</a>

                                    <thead>
                                        <tr>
                                             <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Data de Naissance</th>
                                             <th>Adress</th>
                                            <th>Numéro Téléphone</th>
                                            <th>E-Mail</th>
                                            <th>Genre</th>
                                            <th>Nationalité</th>
                                            <th>Proféssion</th>
                                            <th>Type Pièce</th>
                                            <th>Numéro Pièce</th>
                                             <th>Rôle</th>
                                            <th>Action</th>
                                            <th>vérification</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Data de Naissance</th>
                                             <th>Adress</th>
                                            <th>Numéro Téléphone</th>
                                            <th>E-Mail</th>
                                            <th>Genre</th>
                                            <th>Nationalité</th>
                                            <th>Proféssion</th>
                                            <th>Type Pièce</th>
                                            <th>Numéro Pièce</th>
                                             <th>Rôle</th>
                                            <th>Action</th>
                                            <th>vérification</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                     {% for user in user %}
                                         <tr>
                                            <td>{{user.id}}</td>
                                             <td>{{user.nom}}</td>
                                            <td>{{user.prenom}}</td>
                                            <td>{{user.dateNais|date("d/m/Y")}}</td>
                                            <td>{{user.adress}}</td> 
                                            <td>{{user.tel}}</td> 
                                            <td>{{user.email}}</td>
                                            <td>{{user.genre}}</td>
                                            <td>{{user.nationalite}}</td>
                                            <td>{{user.profession}}</td>
                                            <td>{{user.tyPiece}}</td>
                                            <td>{{user.numPiece}}</td>
                                              {% for role in user.roles %}
                                            {% if role =="ROLE_GESTIONNAIRE" %}
                                            {% set name = "Gestionnaire" %}                                                                                    
                                            {% endif %}
                                                
                                             {% endfor %}
                                            <td>{{user.actCompte}}</td>
                                            <td>{{user.verifCompte}}</td>
                                            <td>
                                           <a href="{{path('super_admin_utilisateur_edit', {id:user.id})}}" class="btn btn-info btn-sm">Modifier</a>  </td>
                                          
                                           <td><a href="{{path('super_admin_utilisateur_delete', {id:user.id})}}" class="btn btn-danger btn-sm">Supprimer</a></td>
                                         

                                        </tr>
                                     {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
