{% extends "base.html.twig" %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Formulaire loyer</h6>
    </div>
    <div class="card-body">

                    {{ form_start(loyerForm) }}
                    <div class="row">
                        <div class="col-4">{{ form_row(loyerForm.prixLoyer) }}</div>
                        <div class="col-4">{{ form_row(loyerForm.dateLoyer) }}</div>
                        <div class="col-4">{{ form_row(loyerForm.location) }}</div>
                    </div> 
                    <div class="row">
                    <div class="col-4">{{ form_row(loyerForm.typePaie) }}</div>
                    {# <div class="col-4">{{ form_row(loyerForm.statutLoy) }}</div> #}
                    <div class="col-4">{{ form_row(loyerForm.MontLoy) }}</div>
                    </div>  
                    <div class="row">
                    <div class="col-4">{{ form_row(loyerForm.appliPenal) }}</div>
                    <div class="col-4">{{ form_row(loyerForm.mois) }}</div>
                    <div class="col-4">{{ form_row(loyerForm.annee) }}</div>
                    </div>
                    <div class="row">
                    <div class="col-4">{{ form_row(loyerForm.modePaie) }}</div>
                    <div class="col-4">{{ form_row(loyerForm.refPaie) }}</div>
                    <div class="col-4">{{ form_row(loyerForm.montPaie) }}</div>
                    </div>
                    
                    <button class="btn btn-info mt-4">{{ button_label|default('Ajouter') }}</button>
                    {{ form_end(loyerForm) }}
  </div>
</div>                     

                    {% endblock %}
                 