{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Pays</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                  <a href="{{path('super_admin_pays_new')}}" class="btn btn-success btn-sm">Ajouter pays</a>

                                    <thead>
                                        <tr>
                                            <th class="small">Id</th>
                                            <th class="small">Nom Pays</th>
                                            <th class="small">Langue</th>
                                            <th class="small">Identifiant Téléphonique</th>
                                            <th class="small">CodeISO</th>
                                            <th class="small">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for pays in pays %}
                                         <tr>
                                            <td class="small">{{pays.id}}</td>
                                            <td class="small">{{pays.nomP}}</td>
                                            <td class="small">{{pays.langue}}</td>
                                            <td class="small">+{{pays.identifTel}}</td>
                                            <td class="small">{{pays.codeIso}}</td>
                                            <td>
                                           <a href="{{path('super_admin_pays_edit', {id:pays.id})}}" class="btn btn-info btn-sm">Modifier pays</a>
                                          
                                           <a href="{{path('super_admin_pays_delete', {id:pays.id})}}" class="btn btn-danger btn-sm">Supprimer pays</a>
                                           </td>

                                        </tr>
                                     {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
