{% extends 'base.html.twig' %}

{% block title %}Propriété{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Propriété</h1>
                    <p class="mb-4"><a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des Propriété</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                   <a href="{{path('super_admin_propriete_new')}}" class="btn btn-success btn-sm">Ajouter Propriété</a>

                                              <div class="row">  
                                              <div class=""></div>                            
                                                {% for propriete in propriete %}

                                                                <div class="card" style="width: 18rem;">
                                                <img src="{{ propriete.imageFile ? asset(propriete.imageFile) : asset('/images/default-propriete.jpg') }}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{propriete.nomPro}}</h5>
                                                    <p class="card-text">{{propriete.id}}</p>
                                                    <p>{{propriete.superficie}}</p>
                                                    <p>{{propriete.longeur}}</p>
                                                    <p>{{propriete.prixPro}}</p>
                                                    <p>{{propriete.proprietaire}}</p>
                                                    <p>{{propriete.gestionnaire}}</p>
                                                    <p>{{propriete.quartier}}</p>
                                                    <p>{{propriete.quartier}}</p>
                                                    <p>{{propriete.quartier}}</p>
                                                    <p>{{propriete.typePropriete}}</p>
                                                    <p>{% if propriete.statut == true %}
                                                        <span class="badge badge-success">vérifié</span>
                                                            {% else %}
                                                        <span class="badge badge-danger">Non vérifié</span>
                                                            {% endif %}</p>
                                                    
                                                        <a href="{{path('super_admin_propriete_edit', {id:propriete.id})}}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>  
                                                                                        
                                                        <a href="{{path('super_admin_propriete_delete', {id:propriete.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                                </div>
                                                {% endfor %}
                                                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{path('app_logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
