{% extends 'base.html.twig' %}

{% block title %}Propriété{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Propriété</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des Propriété</h6>
                        </div>
                        <div class="card-body ml-4">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                   <a href="{{path('super_admin_propriete_new')}}" class="btn btn-success btn-sm mb-4">Ajouter Propriété</a>
                                   

                                <div class="container-fluid">  
                                    <div class="row">                          
                                                {% for propriete in propriete %}
                                        <div class="col-4 mt-4">
                                          <div class="row">         
                                                <div class="card" style="width: 18rem;">
                                                <img src="{{ propriete.imageFile ? asset(propriete.imageFile) : asset('/images/default-propriete.jpg') }}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{propriete.nomPro}}</h5>
                                                    <hr>
                                                <p><div class="row small"><div class="ml-2">Superficie(m2):</div>{{propriete.superficie}}</div></p>
                                                <p><div class="row small"><div class="ml-2">longeur(m):</div>{{propriete.longeur}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Prix de la propriété (fca):</div>{{propriete.prixPro}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Nom du proprietaire:</div>{{propriete.proprietaire}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Nom du gestionnaire:</div>{{propriete.gestionnaire}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Quartier:</div>{{propriete.quartier}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Propriété</div>{{propriete.propriete}}</div></p>
                                                <p><div class="row small"><div class="ml-2">Nombre de pièce</div>{{propriete.nombPiece}}</div>
                                                 
                                                    <p> <div class="ml-4">{% if propriete.statut == true %}
                                                        <span class="badge badge-success">vérifié</span>
                                                            {% else %}
                                                        <span class="badge badge-danger">Non vérifié</span>
                                                            {% endif %} </div></p>
                                                    
                                                        <a href="{{path('super_admin_propriete_edit', {id:propriete.id})}}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>  
                                                                                        
                                                        <a href="{{path('super_admin_propriete_delete', {id:propriete.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                                        <a href="{{path('info-immeuble', {id:propriete.id})}}" class="btn btn-warning btn-sm"><i class="fas fa-duotone fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                                {% endfor %}
                            </div>
                          </div>                      
                                        
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{path('app_logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
