{% extends 'base.html.twig' %}

{% block title %}Propriété{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Propriété</h1>
                    <p class="mb-4"><a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des Propriété</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                   <a href="{{path('super_admin_propriete_new')}}" class="btn btn-success btn-sm">Ajouter Propriété</a>
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom Propriété</th>
                                             <th>Superficie en m2</th>
                                            <th>Longueur </th>
                                            <th>Image</th>
                                            <th>Prix</th>
                                            <th>Propriétaire </th>
                                            <th>Gestionnaire</th>
                                            <th>Quartier</th>
                                            <th>type Propriété </th>
                                            <th>statut</th>
                                            <th>Agis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for propriete in propriete %}
                                         <tr>
                                            <td>{{propriete.id}}</td>
                                            <td>{{propriete.nomPro}}</td> 
                                            <td>{{propriete.superficie}}</td>
                                            
                                            <td>{{propriete.longeur}}</td> 
                                            <td><img class="img-thumbnail" src="{{ propriete.imageFile ? asset(propriete.imageFile) : asset('/images/default-propriete.jpg') }}" /></td>
                                            {#<td>{{propriete.photo2}}</td>
                                            <td>{{propriete.photo3}}</td>
                                            <td>{{propriete.photo4}}</td>
                                            <td>{{propriete.photo5}}</td>#}
                                            <td>{{propriete.prixPro}}</td>
                                            <td>{{propriete.proprietaire}}</td>
                                            <td>{{propriete.gestionnaire}}</td>
                                            <td>{{propriete.quartier}}</td>
                                            <td>{{propriete.typePropriete}}</td>

                                            <td>{% if propriete.statut == true %}
                                            <span class="badge badge-success">vérifié</span>
                                            {% else %}
                                            <span class="badge badge-danger">Non vérifié</span>
                                            {% endif %}</td>
                                            <td>

                                           <a href="{{path('super_admin_propriete_edit', {id:propriete.id})}}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>  
                                          
                                           <a href="{{path('super_admin_propriete_delete', {id:propriete.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a></td>
                                         

                                        </tr>
                                     {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{path('app_logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
