{% extends 'base.html.twig' %}

{% block title %}Quartier{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Quartier</h1>
                     {% for message in app.flashes('success') %}
                          <div class="alert alert-success">{{message}}</div>
                    
                           {% endfor %}
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">

                                   <a href="{{path('super_admin_quartier_new')}}" class="btn btn-success btn-sm mb-4">Ajouter Quartier</a>

                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom Quartier</th>
                                            <th>Nom Ville</th>
                                            <th>N°Rue</th>
                                            <th>Code Postal</th>
                                            <th>Localisation</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for quartier in quartier %}
                                         <tr>
                                            <td>{{quartier.id}}</td>
                                            <td>{{quartier.nomQuartier}}</td>
                                            <td>{{quartier.ville}}</td>
                                            <td>{{quartier.numRue}}</td>
                                            <td>{{quartier.codePost}}</td>
                                            <td>{{quartier.localQ}}</td>
                                            <td>
                                           <a href="{{path('super_admin_quartier_edit', {id:quartier.id})}}" class="btn btn-info btn-sm">Modifier</a>  </td>
                                          
                                           <td><a href="{{path('super_admin_quartier_delete', {id:quartier.id})}}" class="btn btn-danger btn-sm">Supprimer</a></td>
                                         

                                        </tr>
                                     {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
