
{% extends "base.html.twig" %}

{% block body %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Formulaire Type Propriété</h6>
    </div>
    <div class="card-body">
        {{ form_start(typeProForm) }}
            <div class="row">
                <div class="col-md-4">{{form_row(typeProForm.nomType)}}</div>
                <div class="col-md-4">{{ form_row(typeProForm.typeBase) }}</div>
                <div class="col-md-4">{{ form_row(typeProForm.descTyp) }}</div>
                <div class="col-md-4 mt-4"><button class="btn btn-primary" type="submit">Ajouter</button></div>
            </div>
        {{ form_end(typeProForm) }}
    </div>

    {% endblock %}