
{% extends "base.html.twig" %}

{% block body %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Formulaire Utilisateur</h6>
    </div>
    <div class="card-body">
        {{ form_start(userForm) }}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(userForm.email) }}</div></div>
              
                <div class="col-md-4">{{ form_row(userForm.nom) }}</div>
                <div class="col-md-4">{{ form_row(userForm.prenom) }}</div>
                <div class="col-md-4">{{ form_row(userForm.dateNais)}}</div> 
                <div class="col-md-4">{{ form_row(userForm.adress) }}</div>
                <div class="col-md-4">{{ form_row(userForm.tel) }}</div>
                <div class="col-md-4">{{ form_row(userForm.genre) }}</div>
                <div class="col-md-4">{{ form_row(userForm.nationalite) }}</div>
                <div class="col-md-4">{{ form_row(userForm.profession) }}</div>
                <div class="col-md-4">{{ form_row(userForm.tyPiece) }}</div>
                <div class="col-md-4">{{ form_row(userForm.numPiece) }}</div>
                <div class="col-md-4">{{ form_row(userForm.actCompte) }}</div>
                <div class="col-md-4">{{ form_row(userForm.roles) }}</div>
                <div class="col-md-4">{{ form_row(userForm.password) }}</div> 
                <div class="col-md-4">{{ form_row(userForm.verifCompte) }}</div> 
            <div class="col-md-4 mt-4"><button class="btn btn-primary" type="submit">Ajouter</button></div>
            </div>
        {{ form_end(userForm) }}
        
    </div>

    {% endblock %}