{% extends 'base.html.twig' %}

{% block title %}Type Propriété{% endblock %}

{% block body %}

  <div class="container-fluid">
 <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Liste Utilisateur</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste Utilisateur</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                   <a href="{{path('super_admin_utilisateur_new')}}" class="btn btn-success btn-sm">Ajouter Utilisateur</a>

                                    <thead>
                                         <tr>
                                           <th>ID</th>
                                           <th>INFORMATIONS</th>
                                           <th>CONTACTS</th>
                                           <th>ROLES</th>
                                           <th>ETAT</th>
                                           <th>ACTIONS</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                     

                                     {% for user in user %}
                                        <tr>
                                            <th>{{user.id}}</th>
                                            <td>
                                               <p class="small mb-0"><b>Nom & prénoms :</b> {{user.nom}} {{user.prenom}}</p>
                                               <p class="small mb-0"><b>Date de naissance :</b>{{user.dateNais|date("d/m/Y")}}</P>
                                               <p class="small mb-0"><b>adress :</b>{{user.adress}}</P>
                                               <p class="small mb-0"><b>E-mail :</b>{{user.email}}</P>
                                               <p class="small mb-0"><b>Genre :</b>{{user.genre}}</P>
                                               <p class="small mb-0"><b>nationalité :</b>{{user.nationalite}}</P>
                                               <p class="small mb-0"><b>Profession :</b>{{user.profession}}</P>
                                               <p class="small mb-0"><b>Type de pièce :</b>{{user.tyPiece}}</P>
                                               <p class="small mb-0"><b>Numéro de pièce :</b>{{user.numPiece}}</P>
                                            </td>
                                               <td>
                                               <p class="small mb-0"><b>Numéro de téléphone :</b>{{user.tel}}</P>
                                               </td>

                                                <td> 
                                                
                                                {% set name = 'user' %}
                                                {% set color = 'yello' %}
                                                 {% for role in user.roles %}
                                                    {% if role == "ROLE_SUPER_ADMIN" %}
                                                            {% set name = "Administrateur" %}
                                                            {% set color = "danger" %}
                                                        {% elseif role =="ROLE_GESTIONNAIRE" %}
                                                            {% set name = "Gestionnaire" %}
                                                            {% set color = "info" %}
                                                        {% elseif role == "ROLE_PROPRIETAIRE" %}
                                                            {% set name = "Proprietaire" %}
                                                            {% set color = "success" %}
                                                        {% elseif  role == "ROLE_LOCATAIRE" %}
                                                            {% set name = "Locataire" %}
                                                            {% set color = "warning" %}
                                                                                                                        
                                                        {% endif %}
                                                {% endfor %}
                                                <span class="badge badge-{{color}}">{{name}}</span>
                                                </td>
                                                <td>
                                                    {% if user.verifComp == true %}
                                                        <span class="badge badge-success">Vérifié</span>
                                                    {% else %}
                                                        <span class="badge badge-danger"> Non vérifié</span>
                                                            
                                                    {% endif %}


                                                     {% if user.actCompt == true %}
                                                        <span class="badge badge-success">Activé</span>
                                                    {% else %}
                                                        <span class="badge badge-danger"> Désactivé</span>
                                                            
                                                    {% endif %}
                                                    
                                                </td>
                                                <td>
                                                    <a href="{{path('super_admin_utilisateur_edit', {id:user.id})}}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                                    <a href="{{path('super_admin_utilisateur_delete', {id:user.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                                
                                         </tr>
                                     {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Voulez-vous vraiment vous déconnectez ?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
