
{% extends "base.html.twig" %}

{% block body %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Formulaire ville</h6>
    </div>
    <div class="card-body">
        {{ form_start(villeForm) }}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(villeForm.nomV) }}</div></div>
                <div class="col-md-4">{{ form_row(villeForm.codePostV) }}</div>
                <div class="col-md-4">{{ form_row(villeForm.pays) }}</div>
                <div class="col-md-4"><button class="btn btn-primary" type="submit">Ajouter</button></div>
            </div>
        {{ form_end(villeForm) }}
    </div>

    {% endblock %}