{% extends 'base/_fontC.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
       

    <body class="bg-primary ">

    <div class="container bg-light shadow-lg my-5 rounded ">

       
                <!-- Nested Row within Card Body -->
                <div class="card-body pl-6 pr-0">    
                            <div class="text-center">
                                <h1 class="h4 text-gray-90 mb-4">S'inscrire!</h1>
                            </div>
                            <div class="container">
                                <div class="row">
                                         <div class="col-4">
                                             {{ form_row(registrationForm.nom) }}
                                         </div>
                                         <div class="col-4">
                                             {{ form_row(registrationForm.prenom) }}
                                         </div>
                                         <div class="col-4 ">
                                             {{ form_row(registrationForm.dateNais) }}
                                         </div>
                                </div>

                                <div class="row">                
                                         <div class="col-4 " >
                                             {{ form_row(registrationForm.email) }}
                                         </div>
                                         <div class="col-4">
                                             {{ form_row(registrationForm.adress) }}
                                         </div>
                                         <div class="col-4">
                                             {{ form_row(registrationForm.tel) }}
                                         </div>
                                </div>
                                <div class="row">
                                         <div class="col-4">
                                             {{ form_row(registrationForm.genre) }}
                                         </div>

                                         <div class="col-4">
                                             {{ form_row(registrationForm.nationalite) }}
                                         </div>

                                         <div class="col-4">
                                             {{ form_row(registrationForm.profession) }}
                                         </div>
                                </div>
                                <div class="row">
                                         <div class="col-4">
                                             {{ form_row(registrationForm.tyPiece) }}
                                         </div>

                                        <div class="col-4">
                                             {{ form_row(registrationForm.numPiece) }}
                                         </div>

                                         <div class="col-4">
                                            {{ form_row(registrationForm.roles) }}
                                         </div>
                                </div>
                                <div class="row">
                                         <div class="col-4">
                                            {{ form_row(registrationForm.plainPassword, {
                                                 label: 'Password'}) }}
                                         </div>
                                </div>         
                                          <div class="col-4 mt-4">
                                             {{ form_row(registrationForm.agreeTerms) }}
                                         </div>
                                          <div class="btn btn-user mt-4 "><button type="submit" class="btn btn-primary text-center">S'enregistrer</button>
                                         </div>
                                             {{ form_end(registrationForm) }}
                                          <hr>
                                                <div class="text-center">
                                                   <a class="small" href="login.html">Déjà inscrire se Connecter!</a>
                                                </div>
                
        </div> 
        </body>       
       
{% endblock %}
